$color-blue: rgb(0, 118, 255)
$color-primary: #3f50b5
$color-blue-1: #1976d2
$color-blue-2: #3a9af9
$color-blue-3: #68adf3
$color-blue-4: #133e71
$color-black: rgb(0, 0, 0)
$color-white: rgb(255, 255, 255)
$color-grey: rgb(230, 228, 228)
$color-blue--linear: rgb(198, 225, 255)
$color-blue--light: rgb(64, 166, 242)
$color-blue--bold: rgb(0, 64, 133)
$color-red--bold: rgb(114, 28, 36)
$color-blue--bg: rgb(25, 118, 210)
$color-red--light: rgb(248, 215, 218)
$color-red--lighter: rgb(245, 198, 203)
