$color-blue: rgb(0, 118, 255)
$color-primary: #3f50b5
$color-blue-1: #1976d2
$color-blue-2: #3a9af9
$color-blue-3: #68adf3
$color-blue-4: #133e71
$color-blue-5: #428bca
$color-blue-6: #0062cc
$color-blue-7: #005cbf
$color-blue-8: #007bff
$color-blue-9: #162033
$color-black: rgb(0, 0, 0)
$color-black-1: rgba(0, 0, 0, .2)
$color-black-2: rgba(0, 0, 0, .75)
$color-black-3: rgba(0, 0, 0, .54)
$color-white: rgb(255, 255, 255)
$color-white-1: rgba(255, 255, 255, .8)
$color-white-2: #f8f9fa
$color-white-3: #dee2e6
$color-white-4: #e9ecef
$color-white-5: #ced4da
$color-grey: rgb(230, 228, 228)
$color-grey-1: #f9f9f9
$color-grey-2: #eee
$color-grey-3: #999
$color-grey-4: #757f9a
$color-grey-5: #d7dde8
$color-grey-6: #6c757d
$color-grey-7: #495057
$color-grey-8: rgb(206, 212, 218)
$color-blue--linear: rgb(198, 225, 255)
$color-blue--light: rgb(64, 166, 242)
$color-blue--bold: rgb(0, 64, 133)
$color-red--bold: rgb(114, 28, 36)
$color-blue--bg: rgb(25, 118, 210)
$color-red--light: rgb(248, 215, 218)
$color-red--lighter: rgb(245, 198, 203)
$color-pink: #f50057

$boxshadow: rgba(183, 194, 214, .3)
$color-light-1: #f4f5fd
$color-gray: #dfe0ea
$color-gray-8: #7a7b97
$color-gray-7: #485563
$color-gray-9: #29323c
$color-gray-3: #070919
$box-shadown-card: rgba(0, 0, 0, .12)
$box-shadown-card1: rgba(0, 0, 0, .14)
$box-shadown-card2: rgba(0, 0, 0, .2)
$color-back-2: #ccc
$color-violet-1: #f8f9ff
