.left-sidebar
    background-image:linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important
    height: 100vh
.left-sidebar__item
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh
.login-box 
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    padding: 0 25px
.left-sidebar__title 
    color: white
.left-sidebar__description
    color: white
    margin-top: 30px
    text-align: center
    padding: 0 25px
